body {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
	vertical-align: middle;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	color: #F6F6F6;
}
div#left-header {
	margin-top: 5px;
	height: 220px;
}
div#right-header {
	margin-top: 10px;
}
p#title {
	font-size: 32px;
}
p#explanation {
	font-size: 16px;
}
div#map {
  	height: 850px;
  	color: black;
}
.leaflet-container .leaflet-control-nearest-point {
    margin-left: 13px;
    margin-top: 12px;
}
.leaflet-control-nearest-point a {
	background-image: url(../favicon.ico);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 22px;
    height: 22px;

    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
}
